In [5]:
!pip install pandas
!pip install pyreadstat

Requirement already satisfied: pandas in c:\users\jonathan\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jonathan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jonathan\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\jonathan\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jonathan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting pyreadstat
  Downloading pyreadstat-1.1.9-cp39-cp39-win_amd64.whl (2.4 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\jonathan\anaconda3\lib\site-packages (from pyreadstat) (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jonathan\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\jonathan\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jonathan\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jonathan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.9

In [31]:
col_individuales = ["folio",
"producto",
"g_producto",
"v3_1",
"consumo_dia"
]

from base64 import encode
import pandas as pd
import pyreadstat

# for encoding1 in reversed(cod):
#   try:
#     df, meta = pyreadstat.read_sav("ENCA_ETCC_ALIMENTOS_INDIVIDUALES.sav" , encoding="utf-8")
#     print(encoding1)
#     break
#   except:
#     pass
df_individuales, meta_individuales = pyreadstat.read_sav("ENCA_Er24h_Nutrientes_AJUSTADO.sav" , encoding="utf-8", usecols = col_personas)
df_individuales, meta_individuales = pyreadstat.read_sav("ENCA_ETCC_ALIMENTOS_INDIVIDUALES_old.sav" , encoding="utf-8", usecols = col_individuales)

In [32]:
df

,folio,producto,g_producto,v3_1,consumo_dia
0,10013.0,101.0,Arroz blanco (Acompañamiento),0.0,0.0
1,10013.0,102.0,Arroz integral (Acompañamiento),0.0,0.0
2,10013.0,103.0,Arroz blanco (Preparaciones),0.0,0.0
3,10013.0,104.0,Arroz integral (Preparaciones),0.0,0.0
4,10013.0,105.0,Fideos blanco (Acompañamiento),0.0,0.0
...,...,...,...,...,...
2248433,1450310.0,553.0,Crema Años Dorados,0.0,0.0
2248434,1450310.0,554.0,Vitaminas,0.0,0.0
2248435,1450310.0,555.0,Minerales,0.0,0.0
2248436,1450310.0,556.0,Polivitamínico,0.0,0.0
2248437,1450310.0,557.0,Otro suplemento,0.0,0.0

In [78]:
df_2 = df.loc[ : , ["folio", "id_persona", "region", "comuna", "sexo", "edad", "peso", "imc", "talla"]]

In [ ]:
df_2.columns = meta2.column_labels

In [79]:
df_2

,folio,id_persona,region,comuna,sexo,edad,peso,imc,talla
0,10013.0,1001301.0,1.0,1101.0,0.0,72.0,86.699997,40.396511,146.500000
1,10021.0,1002101.0,1.0,1101.0,0.0,79.0,52.299999,24.104393,147.300003
2,10022.0,1002201.0,1.0,1101.0,0.0,62.0,74.300003,34.524593,146.699997
3,10023.0,1002301.0,1.0,1101.0,0.0,71.0,61.500000,31.332773,140.100006
4,10024.0,1002401.0,1.0,1101.0,0.0,54.0,76.099998,34.931076,147.600006
...,...,...,...,...,...,...,...,...,...
4915,1450306.0,145030601.0,14.0,14202.0,1.0,75.0,80.800003,29.499548,165.500000
4916,1450307.0,145030701.0,14.0,14202.0,1.0,16.0,62.000000,23.051754,164.000000
4917,1450308.0,145030801.0,14.0,14202.0,0.0,22.0,63.299999,28.898830,148.000000
4918,1450309.0,145030901.0,14.0,14202.0,0.0,9.0,31.600000,17.109928,135.899994
4919,1450310.0,145031001.0,14.0,14202.0,1.0,57.0,85.500000,32.578876,162.000000

In [80]:
df_2.to_json("personas.json")